<a href="https://colab.research.google.com/github/abegyaberhanu/Abby-s_Portfolio/blob/main/Pandas_data_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd  #imports pandas library



#reads the file provided in the variable data and assigns * contents as missing values when it reads it into the variable
data = pd.read_csv("/content/6153237444115dat.csv", na_values=['*', '**', '***', '****', '*****', '******'])

In [ ]:
#Part 1
# gets and prints the row and column of the variable we read the file into
print(data.shape)

#gets and prints the data types of the columns
print(data.dtypes)

#calculates and prints the mean of the temprature column
print(data['TEMP'].mean())

#Calculates and prints the standard deviation of the max column
print(data['MAX'].std())

#identify and print the unique values in USAF column
print(data['USAF'].nunique())

(11694, 33)
USAF              int64
WBAN              int64
YR--MODAHRMN      int64
DIR             float64
SPD             float64
GUS             float64
CLG             float64
SKC              object
L               float64
M               float64
H               float64
VSB             float64
MW              float64
MW.1            float64
MW.2            float64
MW.3            float64
AW              float64
AW.1            float64
AW.2            float64
AW.3            float64
W               float64
TEMP            float64
DEWP            float64
SLP             float64
ALT             float64
STP             float64
MAX             float64
MIN             float64
PCP01           float64
PCP06           float64
PCP24           float64
PCPXX           float64
SD              float64
dtype: object
52.24796852279531
10.30798909464196
2

In [ ]:
#Part 2
#select and assign USAF, YR--MODAHRMN, TEMP, MAX, MIN  into a new variable
selected = data[['USAF', 'YR--MODAHRMN', 'TEMP', 'MAX', 'MIN']]

#This edits the list to have no na values
selected = selected.dropna(subset='TEMP')

#This updates and changes the temp from fahrenheit to celsius and rounds the result to 1 decimal point
selected['TEMP'] = ((selected['TEMP']-32)/18).round(1)

In [ ]:
#Part 3
#initiates and fills the variables with values from the specific USAF code
kumpula =  selected.loc[data['USAF'] == 29980 ]
rovaniemi =  selected.loc[data['USAF'] == 28450 ]

#makes a file out of the subsets, drops the index values, and makes the float numbers have only 1 decimal point
kumpula.to_csv('Kumpula_temps_May_Aug_2017.csv',float_format='%.1f', index=False)
rovaniemi.to_csv('Rovaniemi_temps_May_Aug_2017.csv', float_format='%.1f',index= False)

In [ ]:
#Part 4

#calculates and prints the mean temprature of the 2 places
print(kumpula['TEMP'].median())
print(rovaniemi['TEMP'].median())

#initiates and assignes values to variables where the rows are from May 2017 for the two locations
rovaniemi_may = rovaniemi.loc[(rovaniemi['YR--MODAHRMN'] >= 201705010000) & (rovaniemi['YR--MODAHRMN'] < 201706010000)]
kumpula_may = kumpula.loc[(kumpula['YR--MODAHRMN'] >= 201705010000) & (data['YR--MODAHRMN'] < 201706010000)]

#initiates and assignes values to variables where the rows are from June 2017 for the two locations
rovaniemi_june =  rovaniemi.loc[(rovaniemi['YR--MODAHRMN'] >= 201706010000) & (rovaniemi['YR--MODAHRMN'] < 201707010000)]
kumpula_june = kumpula.loc[(kumpula['YR--MODAHRMN'] >= 201706010000) & (data['YR--MODAHRMN'] < 201707010000)]

# Get the descriptive statistics for TEMP for may and june for the 2 location
rovaniemi_june_description = rovaniemi_june[['TEMP']].describe()
rovaniemi_may_description = rovaniemi_may[['TEMP']].describe()
kumpula_june_description = kumpula_june[['TEMP']].describe()
kumpula_may_description = kumpula_may[['TEMP']].describe()

#filters the descriptive columns for only mean, min and max and initates the variables with the values
rovaniemi_june_selected = rovaniemi_june_description.loc[['mean','min', 'max']]
rovaniemi_may_selected = rovaniemi_may_description.loc[['mean','min', 'max']]
kumpula_june_selected = kumpula_june_description.loc[['mean','min', 'max']]
kumpula_may_selected = kumpula_may_description.loc[['mean','min', 'max']]


#prints the concat values of may and jun for the 2 locations
#I added keys to seperate the months
print(pd.concat([kumpula_may_selected, kumpula_june_selected], keys= ["May", "June"]))
print(pd.concat([rovaniemi_may_selected, rovaniemi_june_selected], keys= ["May", "June"]))

1.4
1.1
               TEMP
May  mean  0.975843
     min  -0.200000
     max   2.300000
June mean  1.373249
     min   0.300000
     max   2.400000
               TEMP
May  mean  0.298604
     min  -0.700000
     max   1.500000
June mean  1.101740
     min  -0.100000
     max   2.300000